
.body{

	margin: 50px auto;
	width: 40%;
	clear: both;
	
}

.mainheader h1{
	text-align: center;
	color: white;
	background-color: black;
	float: center;
	padding: 10px;
	margin: 0 15%;
	border-radius: 5px;
	border: solid;
	border-color: darkblue;
	border-width: 1px;
}

.maincontent{
	padding: 5%;
    margin: 5% auto;
    border: solid 2px silver;
    width: 300px;
}

.topcontent{
	
	 text-align: center;
}

.forward{
color: white;
background-color: green;
border: 1px solid black;
margin: 10px 20%;
padding: 10px 10px;
}

.left{
color: white;
background-color: green;
border: 1px solid black;
margin: 10px -8%;
padding: 10px 20px;

}

.stop{
color: white;
background-color: darkred;
border: 1px solid darkred;
margin: 10px 10%;
padding: 20px;
}

.right{
color: white;
background-color: green;
border: 1px solid black;
margin: 10px -8%;
padding: 10px 20px;
}

.back{
color: white;
background-color: green;
border: 1px solid black;
margin: 10px 20%;
padding: 10px 5px;
}
 



